# Terraform
export TF_VAR_root_password="$(gopass show root/password)"
export TF_VAR_proxmox_api_key="terraform@pve!terraform=$(gopass show proxmox/tf_api_key)"
export TF_VAR_unifi_api_key="$(gopass show unifi/tf_api_key)"
export TF_VAR_cloudflare_api_key="$(gopass show cloudflare/tf_api_key)"

export TF_VAR_wifi_lan_password="$(gopass show wifi/lan)"
export TF_VAR_wifi_internet_password="$(gopass show wifi/internet)"
export TF_VAR_wifi_things_password="$(gopass show wifi/things)"

# Ansible
export CLOUDFLARE_DNS_API_KEY="$(gopass show cloudflare/dns_api_key)"
export OPENVPN_USER="Qf91ci2URG4bWVkjUHmDWsEE"
export OPENVPN_PASSWORD="$(gopass show openvpn/$OPENVPN_USER)"
