# Terraform
export PROXMOX_VE_USERNAME="root@pam"
export PROXMOX_VE_PASSWORD="$(gopass show proxmox/root)"
export TF_VAR_root_password="$(gopass show root/password)"
export TF_VAR_unifi_api_key="$(gopass show unifi/tf_api_key)"
export TF_VAR_cloudflare_api_key="$(gopass show cloudflare/tf_api_key)"
export AWS_ACCESS_KEY_ID="SV12NGP0FYHBIME66WRL"
export AWS_SECRET_ACCESS_KEY="$(gopass show minio/$AWS_ACCESS_KEY_ID)"

export TF_VAR_wifi_lan_password="$(gopass show wifi/lan)"
export TF_VAR_wifi_internet_password="$(gopass show wifi/internet)"
export TF_VAR_wifi_things_password="$(gopass show wifi/things)"

# Ansible
export CLOUDFLARE_DNS_API_KEY="$(gopass show cloudflare/dns_api_key)"
export OPENVPN_USER="Qf91ci2URG4bWVkjUHmDWsEE"
export OPENVPN_PASSWORD="$(gopass show openvpn/$OPENVPN_USER)"
export ATUIN_PASSWORD="$(gopass show atuin/password)"
export ROOT_PASSWORD="$(gopass show root/password)"
export PROXMOX_HOST="10.10.10.250"
export PROXMOX_PORT="8006"
export PROXMOX_USER="root@pam"
export PROXMOX_TOKEN_ID="code"
export PROXMOX_TOKEN_SECRET="$(gopass show proxmox/code)"

# Packer
export PROXMOX_USERNAME="root@pam!code"
export PROXMOX_TOKEN="$(gopass show proxmox/code)"
export PKR_VAR_ssh_password_hashed="$(gopass show root/hashed)"

# Docker
export SMB_PASSWORD="$(gopass show unifi/romanpeters)"
export ATUIN_DB_PASSWORD="$(gopass show atuin/db_password)"
export MINIO_ROOT_PASSWORD="$(gopass show minio/root)"

export UNSET="None"
