# Virtual environment
venv/

# Ansible runtime cache
.ansible/

# Secrets
.envrc

# Inputs
hosts.csv
services.csv

# Terraform
*.tfstate
*.backup
.terraform/
*.tfvars

# Ansible
*.retry
*.ansible_lint

# Logs
*.log

# MacOS
.DS_Store
