[DEFAULT]
ssh_key = ssh-ed25519 AAAA...
name = ... ...
username = ...
domain_name = example.com
dns_domain = internal

[TERRAFORM]
unifi_url = ...
unifi_username = terraform
proxmox_url = ...
cloudflare_zone_id = 0a094d...

[ANSIBLE]

[NIXOS]
