---
services:
  heimdall:
    image: linuxserver/heimdall:2.5.8
    container_name: heimdall_hello
    environment:
      - APP_NAME=romanpeters
    volumes:
      - ./heimdall:/config
    ports:
      - {{ services.hello.port }}:80
    restart: always
    labels:
      - homepage.group=Public
      - homepage.name={{ domain_name }}
      - homepage.icon=heimdall.png
      - homepage.href=https://hello.{{ domain_name }}/
