---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop # :nightly-0.4.3.1898-ls382
    container_name: prowlarr
    network_mode: service:gluetun
    volumes:
      - ./prowlarr/config:/config
    environment:
      - TZ=Europe/Amsterdam
      # ports:
      #   - 9696:9696
    restart: unless-stopped
