[defaults]
# Use hosts.csv-based dynamic inventory
inventory = inventory/hosts_s3.py
roles_path = roles
vars_files = vars/main.yml

# Disable host key checking for dynamic environments
host_key_checking = False
local_tmp = ./.ansible/tmp
